
{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}

{# Styles du profile.html.twig #}
{{ vite_entry_link_tags('profile') }}

{# JS du profile.html.twig #}
{{ vite_entry_script_tags('profile') }}


{% block profile_content %}

	<div class="flex flex-col gap-4">
		{% include 'profile/_profile_info.html.twig' %}
		{% include 'profile/_profile_security.html.twig' %}
		{% include 'profile/_profile_activity.html.twig' %}
	</div>

{% endblock %}
