{% extends 'base.html.twig' %}

{% block title %}Mise à jour du profil
{% endblock %}

{% block body %}

    <div class="container mx-auto px-4 py-8">
        <h1 class="text-2xl font-bold mb-6">Mise à jour du profil</h1>

        {% include 'profile/_form.html.twig' %}
    </div>
{% endblock %}
