<!DOCTYPE html>
<html>
	<body>
		<h1>Compte activé avec succès</h1>
		<p>Bonjour
			{{ fullName }},</p>
		<p>Votre adresse e-mail a été vérifiée avec succès. Votre compte est désormais pleinement opérationnel.</p>
		<p>Vous pouvez vous connecter à tout moment via la page de connexion.</p>
		<br>
		<p>À bientôt !</p>
	</body>
</html>
