{% extends 'emails/base_email.html.twig' %}

{% block body %}
	<h1>Bienvenue,
		{{ fullName }}
		!</h1>
	<p>Nous sommes ravis de vous compter parmi nous.</p>
	<p>Explorez dès maintenant vos outils de gestion de projet sur votre interface.</p>
{% endblock %}
