<!DOCTYPE html>
<html lang="fr" class="{{ app.request.attributes.get('_route') starts with 'profile' ? 'dark' : '' }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Dashboard {% endblock %}
		</title>

		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

		{% block stylesheets %}
			{{ vite_entry_link_tags('app') }}
		{% endblock %}

		<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

		{% block javascripts %}
			{{ vite_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body class="flex h-screen bg-(--bg-default)"></body>


		{% include '_partials/_admin.nav.html.twig' %}

		<div class="flex-1 flex flex-col overflow-y-auto">
			{% include '_partials/_header.html.twig' %}
			{% include '_partials/_flashes.html.twig' %}

			<main class="flex-1 p-6"> 
				{% block body %}{% endblock %}
			</main>

		</div>
			
	</body>
</html>

